# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# Archivos y carpetas generados por IDEs y herramientas comunes
/.idea/
/*.iml
/.project
/.classpath
/.settings/
/bin/
/out/

# Ignorar archivos compilados de Java
*.class

# Maven
/target/

# Gradle
/build/